.table {
    border-collapse: collapse;

    border: 1px solid grey;
 }
 th {
    border: 1px solid grey;
 }
 th, td {
    border: 1px solid grey;
 }
 table {
    border: 3px solid grey;
 }
 .pay {
    margin: 15px;
    padding: 15px;
 }